<div class="sidebar">
    <h2>Student Management System</h2>
    <ul>
        <li><a href="/api/user/dashboard"><i class="fas fa-home"></i> Dashboard</a></li>
        <li><a href="#"><i class="fas fa-user"></i> Profile</a></li>
        <li><a href="/api/user/fillRegistrationForm"><i class="fas fa-list"></i> Addmission form</a></li>
        <li><a href="/api/user/academicCalendar"><i class="fas fa-users"></i> Academic Calendar</a></li>
        <li><a href="/api/user/mentorDetails"><i class="fas fa-users"></i> Mentor's List</a></li>
      
    </ul>
</div>