   
    <form>
        <h2>Personal Details</h2>

        <div class="form-group">
            <label>Category *</label>
            <select><option value="">Select a slot</option>
                <option value="200">DT(A)</option>
                <option value="201">NT(B)</option>
                <option value="202">NT(C)</option>
                <option value="203">NT(D)</option>
                <option value="204">OBC</option>
                <option value="205">Open</option>
                <option value="206">Other</option>
                <option value="207">SBC</option>
                <option value="208">SC</option>
                <option value="209">SEBC</option>
                <option value="210">ST</option>
                <option value="211">GENERAL</option>
                <option value="229">NRI</option>
                <option value="230">EBC</option>
                <option value="537">VJ</option>
                <option value="538">NT</option>
                <option value="633">OC</option>
                <option value="634">BC</option>
                <option value="635">PH</option>
                <option value="676">EWS</option>
                <option value="677">BC-A</option>
                <option value="678">BC-B</option>
                <option value="679">BC-C</option>
                <option value="680">BC-D</option>
                <option value="681">BC-E</option>
                <option value="663">TFWS</option>
                <option value="796">MINORITY</option>
                <option value="808">DT</option>
                <option value="809">J&K</option>
                <option value="810">PMSSS</option>
                <option value="811">PTC</option>
                <option value="812">STC</option>
                <option value="813">VJ-NT</option>
                <option value="901">OBC (Non-Creamy)</option>
                <option value="918">FC</option>
                <option value="919">FC (Jain)</option>
                <option value="920">BC(M)</option>
                <option value="921">MBC</option>
                <option value="922">SC(A)</option></select>
        </div>

        <div class="form-group">
            <label>Religion *</label>
            <select>
                <option value="">Select a slot</option>
<option value="Buddhism">Buddhism</option>
<option value="Christianity">Christianity</option>
<option value="Hindu">Hindu</option>
<option value="Jain">Jain</option>
<option value="Muslim/Islam">Muslim/Islam</option>
<option value="Other">Other</option>
<option value="Sikh">Sikh</option>
<option value="Parsi">Parsi</option>
<option value="Agnostic">Agnostic</option>
<option value="Atheist">Atheist</option>
<option value="Judaism">Judaism</option>
<option value="Neo-Paganism">Neo-Paganism</option>
<option value="Non-Religious">Non-Religious</option>
<option value="Primal Indigenous">Primal Indigenous</option>
<option value="Rastafarianism">Rastafarianism</option>
<option value="Secular">Secular</option>
<option value="Shinto">Shinto</option>
<option value="Spiritism">Spiritism</option>
<option value="Tenrikyo">Tenrikyo</option>
<option value="Unitarian-Universalism">Unitarian-Universalism</option>
<option value="Zoroastrianism">Zoroastrianism</option>
<option value="Others / Religion Not Specified">Others / Religion Not Specified</option>

            </select>
        </div>

        <div class="form-group">
            <label>State *</label>
            <select> <option value="">Select a slot</option>
                <option value="Buddhism">Buddhism</option>
                <option value="Christianity">Christianity</option>
                <option value="Hindu">Hindu</option>
                <option value="Jain">Jain</option>
                <option value="Muslim/Islam">Muslim/Islam</option>
                <option value="Other">Other</option>
                <option value="Sikh">Sikh</option>
                <option value="Parsi">Parsi</option>
                <option value="Agnostic">Agnostic</option>
                <option value="Atheist">Atheist</option>
                <option value="Judaism">Judaism</option>
                <option value="Neo-Paganism">Neo-Paganism</option>
                <option value="Non-Religious">Non-Religious</option>
                <option value="Primal Indigenous">Primal Indigenous</option>
                <option value="Rastafarianism">Rastafarianism</option>
                <option value="Secular">Secular</option>
                <option value="Shinto">Shinto</option>
                <option value="Spiritism">Spiritism</option>
                <option value="Tenrikyo">Tenrikyo</option>
                <option value="Unitarian-Universalism">Unitarian-Universalism</option>
                <option value="Zoroastrianism">Zoroastrianism</option>
                <option value="Others / Religion Not Specified">Others / Religion Not Specified</option>
                </select>
        </div>

        <div class="form-group">
            <label>District *</label>
            <select> <option value="">Select a District</option>
                <option value="Nicobar">Nicobar</option>
                <option value="North and Middle Andaman">North and Middle Andaman</option>
                <option value="South Andaman">South Andaman</option>
                <option value="Anantapur">Anantapur</option>
                <option value="Chittoor">Chittoor</option>
                <option value="East Godavari">East Godavari</option>
                <option value="Guntur">Guntur</option>
                <option value="Krishna">Krishna</option>
                <option value="Kurnool">Kurnool</option>
                <option value="Prakasam">Prakasam</option>
                <option value="Sri Potti Sriramulu Nellore">Sri Potti Sriramulu Nellore</option>
                <option value="Srikakulam">Srikakulam</option>
                <option value="Visakhapatnam">Visakhapatnam</option>
                <option value="Vizianagaram">Vizianagaram</option>
                <option value="West Godavari">West Godavari</option>
                <option value="YSR Kadapa">YSR Kadapa</option>
                <option value="Anjaw">Anjaw</option>
                <option value="Changlang">Changlang</option>
                <option value="Dibang Valley">Dibang Valley</option>
                <option value="East Kameng">East Kameng</option>
                <option value="East Siang">East Siang</option>
                <option value="Kamle">Kamle</option>
                <option value="Kra Daadi">Kra Daadi</option>
                <option value="Kurung Kumey">Kurung Kumey</option>
                <option value="Lepa Rada">Lepa Rada</option>
                <option value="Lohit">Lohit</option>
                <option value="Longding">Longding</option>
                <option value="Lower Dibang Valley">Lower Dibang Valley</option>
                <option value="Lower Siang">Lower Siang</option>
                <option value="Lower Subansiri">Lower Subansiri</option>
                <option value="Namsai">Namsai</option>
                <option value="Pakke Kessang">Pakke Kessang</option>
                <option value="Papum Pare">Papum Pare</option>
                <option value="Shi Yomi">Shi Yomi</option>
                <option value="Siang">Siang</option>
                <option value="Tawang">Tawang</option>
                <option value="Tirap">Tirap</option>
                <option value="Upper Siang">Upper Siang</option>
                <option value="Upper Subansiri">Upper Subansiri</option>
                <option value="West Kameng">West Kameng</option>
                <option value="West Siang">West Siang</option>
                <option value="Baksa">Baksa</option>
                <option value="Barpeta">Barpeta</option>
                <option value="Biswanath">Biswanath</option>
                <option value="Bongaigaon">Bongaigaon</option>
                <option value="Cachar">Cachar</option>
                <option value="Charaideo">Charaideo</option>
                <option value="Chirang">Chirang</option>
                <option value="Darrang">Darrang</option>
                <option value="Dhemaji">Dhemaji</option>
                <option value="Dhubri">Dhubri</option>
                <option value="Dibrugarh">Dibrugarh</option>
                <option value="Dima Hasao">Dima Hasao</option>
                <option value="Goalpara">Goalpara</option>
                <option value="Golaghat">Golaghat</option>
                <option value="Hailakandi">Hailakandi</option>
                <option value="Hojai">Hojai</option>
                <option value="Jorhat">Jorhat</option>
                <option value="Kamrup">Kamrup</option>
                <option value="Kamrup Metropolitan">Kamrup Metropolitan</option>
                <option value="Karbi Anglong">Karbi Anglong</option>
                <option value="Karimganj">Karimganj</option>
                <option value="Kokrajhar">Kokrajhar</option>
                <option value="Lakhimpur">Lakhimpur</option>
                <option value="Majuli">Majuli</option>
                <option value="Morigaon">Morigaon</option>
                <option value="Nagaon">Nagaon</option>
                <option value="Nalbari">Nalbari</option>
                <option value="Sivasagar">Sivasagar</option>
                <option value="Sonitpur">Sonitpur</option>
                <option value="South Salmara-Mankachar">South Salmara-Mankachar</option>
                <option value="Tinsukia">Tinsukia</option>
                <option value="Udalguri">Udalguri</option>
                <option value="West Karbi Anglong">West Karbi Anglong</option></select>
        </div>

      

        <div class="form-group">
            <label>Department *</label>
            <select>
                <option value="">Select an option</option>
                <option value="Adarsh Vijendra Institute of Pharmaceutical Sciences">Adarsh Vijendra Institute of Pharmaceutical Sciences</option>
                <option value="DEPARTMENT OF CIVIL ENGINEERING">DEPARTMENT OF CIVIL ENGINEERING</option>
                <option value="Department of Computer Science and Engineering">Department of Computer Science and Engineering</option>
                <option value="Department of Electronics and Electrical Engineering">Department of Electronics and Electrical Engineering</option>
                <option value="Department of Mechanical Engineering">Department of Mechanical Engineering</option>
                <option value="Kunwar Shekhar Vijendra Ayurvedic Medical College & Research Center">Kunwar Shekhar Vijendra Ayurvedic Medical College & Research Center</option>
                <option value="Kunwar Shekher Vijender Medical College of Naturopathy and Yogic Sciences">Kunwar Shekher Vijender Medical College of Naturopathy and Yogic Sciences</option>
                <option value="School of Agriculture and Environmental Sciences">School of Agriculture and Environmental Sciences</option>
                <option value="School of Basic and Applied Sciences">School of Basic and Applied Sciences</option>
                <option value="School of Biological Engineering & Science">School of Biological Engineering & Science</option>
                <option value="School of Business Studies & Entrepreneurship">School of Business Studies & Entrepreneurship</option>
                <option value="School of Education">School of Education</option>
                <option value="School of Law And Constitutional Studies">School of Law And Constitutional Studies</option>
                <option value="School of Liberal Arts & Languages">School of Liberal Arts & Languages</option>
                
            
            </select>
        </div>


        <div class="form-group">
            <label>Programme *</label>
            <select>   <option value="">Select a slot</option>
                <option value="B.Sc. in Electronics">B.Sc. in Electronics</option>
                <option value="B.Tech. in Electrical Engineering">B.Tech. in Electrical Engineering</option>
                <option value="B.Tech. in Electronics & Communication Engineering">B.Tech. in Electronics & Communication Engineering</option>
                <option value="Bachelor of Arts (General)">Bachelor of Arts (General)</option>
                <option value="Bachelor of Arts and Bachelor of Law">Bachelor of Arts and Bachelor of Law</option>
                <option value="Bachelor of Arts in Yoga">Bachelor of Arts in Yoga</option>
                <option value="Bachelor of Ayurvedic Medicine and Surgery">Bachelor of Ayurvedic Medicine and Surgery</option>
                <option value="Bachelor of Business Administration">Bachelor of Business Administration</option>
                <option value="Bachelor of Commerce (Honours)">Bachelor of Commerce (Honours)</option>
                <option value="Bachelor of Computer Applications">Bachelor of Computer Applications</option>
                <option value="Bachelor of Education">Bachelor of Education</option>
                <option value="Bachelor of Laws">Bachelor of Laws</option>
                <option value="Bachelor of Naturopathy and Yogic Sciences">Bachelor of Naturopathy and Yogic Sciences</option>
                <option value="Bachelor of Pharmacy">Bachelor of Pharmacy</option>
                <option value="Bachelor of Science - Biomedical Science">Bachelor of Science - Biomedical Science</option>
                <option value="Bachelor of Science - Biotechnology">Bachelor of Science - Biotechnology</option>
                <option value="Bachelor of Science - Microbiology">Bachelor of Science - Microbiology</option>
                <option value="Bachelor of Science in Agriculture">Bachelor of Science in Agriculture</option>
                <option value="Bachelor of Science in Computer Science">Bachelor of Science in Computer Science</option>
                <option value="Bachelor of Science-(PCM)">Bachelor of Science-(PCM)</option>
                <option value="Bachelor of Technology Civil Engineering">Bachelor of Technology Civil Engineering</option>
                <option value="Bachelor of Technology in Basic and Applied Sciences">Bachelor of Technology in Basic and Applied Sciences</option>
                <option value="Bachelor of Technology in Computer Science and Engineering">Bachelor of Technology in Computer Science and Engineering</option>
                <option value="Bachelor of Technology in Mechanical Engineering">Bachelor of Technology in Mechanical Engineering</option>
                <option value="Diploma in Civil Engineering">Diploma in Civil Engineering</option>
                <option value="Diploma in Computer Science and Engineering">Diploma in Computer Science and Engineering</option>
                <option value="Diploma in Electrical Engineering">Diploma in Electrical Engineering</option>
                <option value="Diploma in Electronics and Communication Engineering">Diploma in Electronics and Communication Engineering</option>
                <option value="Diploma in Elementary Education">Diploma in Elementary Education</option>
                <option value="Diploma in Engineering in Basic and Applied Sciences">Diploma in Engineering in Basic and Applied Sciences</option>
                <option value="Diploma in Mechanical Engineering">Diploma in Mechanical Engineering</option>
                <option value="Diploma in Pharmacy">Diploma in Pharmacy</option>
                <option value="Doctor of Philosophy in Electrical">Doctor of Philosophy in Electrical</option>
                <option value="Doctor of Philosophy in Electronics">Doctor of Philosophy in Electronics</option>
                <option value="Doctor of Philosophy in Law">Doctor of Philosophy in Law</option>
                <option value="Doctor of Philosophy in Management">Doctor of Philosophy in Management</option>
                <option value="Doctor of Philosophy in Pharmacy">Doctor of Philosophy in Pharmacy</option>
                <option value="M.Sc. in Electronics">M.Sc. in Electronics</option>
                <option value="M.Tech. in Communication Engineering">M.Tech. in Communication Engineering</option>
                <option value="Master of Arts (Education)">Master of Arts (Education)</option>
                <option value="Master of Arts (English)">Master of Arts (English)</option>
                <option value="Master of Arts (Hindi)">Master of Arts (Hindi)</option>
                <option value="Master of Arts (Political Science)">Master of Arts (Political Science)</option>
                <option value="Master of Arts in Applied Yoga & Health">Master of Arts in Applied Yoga & Health</option>
                <option value="Master of Business Administration">Master of Business Administration</option>
                <option value="Master of Commerce">Master of Commerce</option>
                <option value="Master of Computer Applications">Master of Computer Applications</option>
                <option value="Master of Laws">Master of Laws</option>
                <option value="Master of Pharmacy in Pharmaceutical Chemistry">Master of Pharmacy in Pharmaceutical Chemistry</option>
                <option value="Master of Pharmacy in Pharmaceutics">Master of Pharmacy in Pharmaceutics</option>
                <option value="Master of Pharmacy in Pharmacology">Master of Pharmacy in Pharmacology</option>
                <option value="Master of Philosophy">Master of Philosophy</option>
                <option value="Master of Science - Biomedical Science">Master of Science - Biomedical Science</option>
                <option value="Master of Science - Biotechnology">Master of Science - Biotechnology</option>
                <option value="Master of Science - Chemistry">Master of Science - Chemistry</option>
                <option value="Master of Science - Mathematics">Master of Science - Mathematics</option>
                <option value="Master of Science - Microbiology">Master of Science - Microbiology</option>
                <option value="Master of Science - Physics">Master of Science - Physics</option>
                <option value="Master of Science in Agronomy">Master of Science in Agronomy</option>
                <option value="Master of Science in Horticulture">Master of Science in Horticulture</option>
                <option value="Master of Technology - CAD/CAM">Master of Technology - CAD/CAM</option>
                </select>
        </div>



        <div class="form-group">
            <label>Admission Type *</label>
            <select>
                <option>Select</option>
                <option value="Regular">Regular</option>
                <option value="Private">Private</option>
            
            </select>
        </div>


        <div class="form-group">
            <label>Hostel Required *</label>
            <select><option>Select</option>
            <option value="YES">YES</option>
            <option value="NO" >NO</option>
            </select>
        </div>

        <div class="form-group">
            <label>Transportation Required *</label>
            <select><option>Select</option>
                <option value="YES">YES</option>
                <option value="NO" >NO</option></select>
        </div>

        <div class="form-group">
            <label>Photo *</label>
            <input type="file">
        </div>



        

        <div class="form-group">
            <label>Gender *</label>
            <select><option>Select</option>
            <option value="MALE">MALE</option>
        <option value="Female">Female</option>
        </select>
        </div>

        <div class="form-group">
            <label>First Name *</label>
            <input type="text">
        </div>

        <div class="form-group">
            <label>Middle Name</label>
            <input type="text">
        </div>

        <div class="form-group">
            <label>Last Name</label>
            <input type="text">
        </div>

        <div class="form-group">
            <label>Email Address *</label>
            <input type="email">
        </div>

        <div class="form-group">
            <label>Mobile Number *</label>
            <input type="text">
        </div>

        <div class="form-group">
            <label>Date of Birth *</label>
            <input type="date">
        </div>

        <div class="form-group">
            <label>Aadhar No *</label>
            <input type="text">
        </div>

    

        <div class="form-group">
            <label>Address 1 *</label>
            <input type="text">
        </div>

        <div class="form-group">
            <label>Pin Code *</label>
            <input type="text">
        </div>

        <h3>Parent Details</h3>

        <div class="form-group">
            <label>Father's Occupation *</label>
            <input type="text">
        </div>

        <div class="form-group">
            <label>Father's Name *</label>
            <input type="text">
        </div>

        <div class="form-group">
            <label>Mobile Number *</label>
            <input type="text">
        </div>

        <div class="form-group">
            <label>Mother's Name *</label>
            <input type="text">
        </div>

        <h3>Education Details</h3>

        <div class="form-group">
            <label>12 Stream *</label>
            <select>
                <option value="">Select a slot</option>
                <option value="Commerce">Commerce</option>
                <option value="Arts">Arts</option>
                <option value="Science">Science</option>
                <option value="Engineering">Engineering</option>
                <option value="Other">Other</option>
                <option value="Agriculture">Agriculture</option>
                <option value="PCB">PCB</option>
                <option value="PCM">PCM</option>
                
            
            </select>
        </div>

    

        <div class="form-group">
            <label>10th Marks/Grade *</label>
            <input type="text">
        </div>

        <div class="form-group">
            <label>10th Passing Year *</label>
            <input type="text">
        </div>

        <div class="form-group">
            <label>10th Board *</label>
            <input type="text">
        </div>

        <div class="form-group">
            <label>12th Marks/Grade *</label>
            <input type="text">
        </div>

        <div class="form-group">
            <label>12th Passing Year *</label>
            <input type="text">
        </div>

        <div class="form-group">
            <label>12th Board *</label>
            <input type="text">
        </div>

        <div class="form-group">
            <label>Graduation Marks/Grade *</label>
            <input type="text">
        </div>

        <div class="form-group">
            <label>Graduation Passing Year *</label>
            <input type="text">
        </div>

        <div class="form-group">
            <label>Graduation University *</label>
            <input type="text">
        </div>

        <button type="submit">Submit</button>
    </form>